# Ignore compiled Python bytecode files
*.pyc

.mypy_cache
.pytest_cache

# Ignore Python cache directories
__pycache__/

# Ignore environment-specific settings
.env

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-*

/test/data/output/**
.venv
build